.App {
  text-align: center;
}



.cart__container {
  border: 2px solid red;
  margin-left: 5rem;
  margin-right: 5rem;
}

.previous__offer {
  cursor: pointer;
  margin-left: 2rem;

}
.next__offer {
  cursor: pointer;
  margin-right: 2rem;
}
/* 1st and last skeleton width */
.Polaris-SkeletonTabs__Tab--short {
  width: 19rem !important;
}

/* center skeleton */
.Polaris-SkeletonTabs__Tab--long {
  width: 19rem !important;
}
/* skeleton bottom-border */
.Polaris-SkeletonTabs__Tabs {
  border-bottom: none !important;
}


.main__title{
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: black;
  font-weight: Bolder;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

.special__offer {
  background-color: #8E5A30;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.contain__both__columns{
  border:2px solid red;
  /* display: flex;
  justify-content: center; */
}

.left__stack {
  border:5px solid red;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.text_above_img .Polaris-Text--root {
  border: 4px solid blue;
  padding-bottom: 0.5rem;
  word-wrap: break-word;
  width: 100%;
  
}

.img__div{
  max-width: 100%;
  /* max-width: fit-content; */
  /* height: auto; */
  border:4px solid violet;
}

.img{
  width:100%;
  /* max-width: 100%; */
  height: auto;
  border: 4px solid greenyellow;
}

.comparative__price .Polaris-Text--headingMd {
  text-decoration: line-through;
}

.final__price .Polaris-Text--headingMd {
  color: #8E5A30;
}

.savings__percentage .Polaris-Text--headingMd {
  color: #8E5A30;
}

.readMore__link .Polaris-Link {
  color: #8E5A30;
  display: flex;
  justify-content: center;
}

.counter_border{
  border: 1px solid rgb(199, 188, 188);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-radius: 3px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0);
}
.plusHandler {
  cursor: pointer;
}

.minusHandler {
  cursor: pointer;
}

.addButton .Polaris-Button--fullWidth {
  background-color: #8E5A30;
  color: white;
}

.addButton .Polaris-Button--fullWidth:hover {
  background-color: #8E5A30;
  color: white;
}

.skip__checkout .Polaris-Button--monochrome.Polaris-Button--outline {
  color: #8E5A30;
}

.skip__checkout .Polaris-Button--monochrome.Polaris-Button--outline:hover {
  color: #8E5A30;
}